body {
    font-family: <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;

}

.button2 {
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    cursor: pointer;
    
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 }

.button1 {
    height: 38px;
    width: 73px;
    left: 495px;
    top: 186px;
    border-radius: 4px;
    cursor: pointer;

    background: #2196F3;
    color: #FFFFFF;
 }

.button {
    height: 38px;
width: 128px;
border-radius: 4px;
left: calc(50% - 128px/2 - 160px);
top: calc(50% - 38px/2 - 735px);
cursor: pointer;

background: #F5F4FA;
color: #212121;
 }

.study {
    width: 49px;
height: 16px;
left: 453px;
top: 32px;

color: #2196F3;
}

p {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

article {
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;

    background: #2F303A;
    }

h1 {
    color: #FFFFFF
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }

h2 {
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

h3 {
    color: #212121
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

h4 {
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    }

.title-text{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    }
    
footer {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2158px;
        
    background: #2F303A;
    }

    .other {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: #757575;
    }

    .second-peges {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        color: #212121;
    }